__pycache__/
.vscode/
**/Training Data
.DS_Store
**/Prototyping/runs*
**/Model_1/Preprocessing/keys
**/venv
Model_1/model_1_helper_functions_samantha.py
Model_1/model_1_metrics.ipynb
Model_1/model_1_testing_samantha.ipynb
Model_1/notes_helper_functions.ipynb
Model_1/samantha_scratch.ipynb
test_key.pkl
train_key.pkl
val_key.pkl
**/Model_1/runs
onsets.pkl
songs.pkl
**/pretrained_models*
**.pt
**/Test_Songs
